breadcrumbs, [breadcrumbs] {
  display: block;

  // & > div {
  //   height: 4em;
  //   display: block;

    .nav {
      min-height: 4em;
      padding: .5em 0;
      overflow: auto;
      width: initial;

       & > div {
        display: inline;
       }

      md-icon, button.md-button {
        margin: 0;
        min-width: 0;
        text-transform: none;
      }

      button[disabled] {
        color: rgba(0, 0, 0, 1) !important;
        cursor: initial !important;
      }
    }
  // }
}
