folder-tree-container, [folder-tree-container] {
  min-height: 100%;
  // position: relative;

  md-sidenav {
    min-height: 100vh;

    .folder-tree div {
      min-height: 2em;
    }

    .tree-base {
      // align-items: flex-start;
      // text-align: left;
      // width: 100%;
      // margin: 0;
      // padding: 0;
      // text-transform: none;
    }
  }

}
