<md-sidenav layout-fill class="md-sidenav-left md-whiteframe-z2" md-component-id="tree" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar layout="row">
    <h1 flex class="md-toolbar-tools">Folder Structure</h1>
    <md-button ng-click="ftc.close()" aria-label="Close">
      <md-icon md-svg-icon="assets/icons/dir-left.svg"></md-icon>
    </md-button>
  </md-toolbar>
  <md-content layout-padding class="folder-tree">
    <md-button class="folder-btn" ng-click="ftc.updatePath()" class="pointer">Home</md-button>
    <div ng-if="ftc.folders" folder-tree folders="ftc.folders"></div>
  </md-content>
</md-sidenav>
