$toolbar-height: 64px;
file-manager, [file-manager] {
  bottom: 0;
  position: absolute;
  top: 0;
  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  & > ng-transclude > md-content {
    margin-top: $toolbar-height;
  }
}

.pointer {
  cursor: pointer;
}

button.folder-btn {
  align-items: flex-start;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
  text-transform: none;
}


