// $toolbar-height: 56px;
file-manager, [file-manager] {
  height: inherit;
  * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  & > ng-transclude {
    height: inherit;
  }
}

.pointer {
  cursor: pointer;
}

button.folder-btn {
  align-items: flex-start;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0;
  text-transform: none;
}

.no-wrap {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


