$ft-icon-size: 2em;
.tree-leaf.folder-btn {
  margin: 0 0 0 1.5em;
  top: -4px;
}

.folder-tree {
  position: relative;
}

button.md-button.folder-state {
  position: absolute;
  min-height: 0;
  margin: 0;
  padding: 0;
  height: $ft-icon-size;
  width: $ft-icon-size;
  @include transform(translateX(-10px));

  md-icon, .md-ripple-container {
    min-height: 0;
    line-height: $ft-icon-size;
    height: $ft-icon-size;
    width: $ft-icon-size;
    vertical-align: top;
  }
}

// folder-tree, [folder-tree] {
// }


